@charset "utf-8";
input[type=text]::-webkit-input-placeholder {
    color: #94caf1;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
}
input[type=text]::-moz-placeholder {
    color: #94caf1;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
}/* Firefox 19+ */
input[type=text]:-moz-placeholder {
    color: #94caf1;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
}/* Firefox 18- */
input[type=text]:-ms-input-placeholder {
    color: #94caf1;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
}
input[type=email]::-webkit-input-placeholder {
    color: #94caf1;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
}
input[type=email]::-moz-placeholder {
    color: #94caf1;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
}/* Firefox 19+ */
input[type=email]:-moz-placeholder {
    color: #94caf1;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
}/* Firefox 18- */
input[type=email]:-ms-input-placeholder {
    color: #94caf1;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
}
/********** Карта проїзду та контакти ***********/
#map_container {
    position: relative;
    height: 620px;
}
#map {
    position: absolute;
    width: 100%;
    height: 620px;
    top: 0;
}
.wrap {
    position: relative;
    float: right;
    width: 360px;
    height: 420px;
    margin-top: 200px;
    margin-right: 15%;
}
#contacts, #callback {
    position: absolute;
    top: -70px;
    width: 360px;
    height: 420px;
    color: #595677;
    background-color: #ffffff;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	-webkit-box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.2);
    box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.2);
}
#contacts {
    /*opacity: 1;*/
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#contacts h3 {
    margin-top: 26px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 30px;
}
#contacts h5 {
    margin-top: -4px;
    text-align: center;
    color: #8dc9f3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}
#contacts p {
    text-color: #595677;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
}
#contacts .street {
    margin-top: 0px;
    text-align: center;
}
#contacts .city {
    margin-top: -8px;
    text-align: center;
}
#contacts .contact {
	margin-top: -5px;
	color: #8dc9f3;
	font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
#contacts .phone1, #contacts .phone2, #contacts .phone3, #contacts .phone4, #contacts .phone5 {
    text-color: #595677;
    text-align: center;
    margin-top: -10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /*text-transform: uppercase;*/
    font-size: 14px;
}
#contacts .phone2, #contacts .phone4, #contacts .phone5 {
    margin-top: -10px;
    text-align: center;
}
#contacts .email {
    text-color: #595677;
    text-align: center;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    font-size: 14px;
}
#contacts .button_callback {
    position: absolute;
    width: 145px;
    padding: 15px 20px;
    /*margin-top: 54px;*/
    /*margin-bottom: 20px;*/
    left: 50%;
    margin-left: -75px;
    bottom: 55px;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    background-color: #c16591;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
}
#contacts .button_callback:hover,
#contacts .button_callback:focus,
#contacts .button_callback:active
{
    text-decoration: none;
    background-color: #413e64;
    outline: none;
}
#callback {
    opacity: 0;
    visibility: hidden;
    /*transition: visibility 0s linear 0.4s;*/
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#callback_message {
    position: absolute;
    display: none;
    width: 360px;
    height: 420px;
    top: -10px;
    color: #595677;
    background-color: #ffffff;
    -webkit-backface-visibility: hidden;
    bottom: 97px;
    margin: 10px auto 15px;
    text-align: center;
    -webkit-box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.2);
    box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.2);
}
#callback .button_send {
    position: absolute;
    width: 145px;
    padding: 15px 20px;
    /*margin-top: 54px;*/
    /*margin-bottom: 20px;*/
    left: 50%;
    margin-left: -75px;
    bottom: 55px;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    background-color: #413e64;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
}
#callback .button_send:hover,
#callback .button_send:focus,
#callback .button_send:active
{
    text-decoration: none;
    background-color: #c16591;
    outline: none;
}
#contacts .button, #callback .button {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}
#callback h3 {
    margin-top: 26px;
    text-align: center;
    color: #413e64;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 30px;
}
#callback h5 {
    margin-top: -4px;
    text-align: center;
    color: #67b7ef;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}
.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
.fancybox-skin {
    position: relative;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.b-popup{
    display: none;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 999;
}
.b-popup_load{
    display: none;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 999;
}
.pop_form {
    height: 303px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f5f5f5;
    bottom: 97px;
    margin: 45px auto 15px;
    padding-bottom: 0px;
    text-align: center;
    color: #70bbef;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
}
.pop_form input[type=text],
.pop_form input[type=email] {
    display: block;
    line-height: 30px;
    height: 59px;
    width: 90%;
    padding: 0;
    padding-top: 27px;
    margin: -12px auto 12px;
    color: #70bbef;
    border:#f5f5f5 1px solid;
    border-bottom: 1px solid #5bc0de;
    background-color: #f5f5f5;
    font-weight: 500;
    font-size: 11px;
}
.pop_form .button {
    margin: 15px auto 0;
}
.pop_form button {
    padding: 15px 30px;
    background-color: #413e64;
    border: none;
    border-radius: 30px;
    margin-top: -4px;
    color: #FFFFFF;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
}
.pop_form button:hover, .pop_form button:focus, .pop_form button:active {
    background-color: #c16591;
    outline: none;
}
.return {
    padding: 15px 20px;
    margin-top: 226px;
    background-color: #413e64;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
}
.return:hover, .return:focus, .return:active {
    background-color: #c16591;
    outline: none;
}









.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
.fancybox-skin {
    position: relative;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.b-popup{
    display: none;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 999;
}
.b-popup_load{
    display: none;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 999;
}
/*Анімація очікування відправлення форми*/
#floatingCirclesG{
    position:relative;
    width:125px;
    height:125px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45vh;
    transform:scale(0.6);
    -o-transform:scale(0.6);
    -ms-transform:scale(0.6);
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
}
.f_circleG{
    position:absolute;
    background-color:rgb(255,255,255);
    height:22px;
    width:22px;
    border-radius:12px;
    -o-border-radius:12px;
    -ms-border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    animation-name:f_fadeG;
    -o-animation-name:f_fadeG;
    -ms-animation-name:f_fadeG;
    -webkit-animation-name:f_fadeG;
    -moz-animation-name:f_fadeG;
    animation-duration:1.2s;
    -o-animation-duration:1.2s;
    -ms-animation-duration:1.2s;
    -webkit-animation-duration:1.2s;
    -moz-animation-duration:1.2s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}
#frotateG_01{
    left:0;
    top:51px;
    animation-delay:0.45s;
    -o-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
}
#frotateG_02{
    left:15px;
    top:15px;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}
#frotateG_03{
    left:51px;
    top:0;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}
#frotateG_04{
    right:15px;
    top:15px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}
#frotateG_05{
    right:0;
    top:51px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#frotateG_06{
    right:15px;
    bottom:15px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}
#frotateG_07{
    left:51px;
    bottom:0;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#frotateG_08{
    left:15px;
    bottom:15px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}
@keyframes f_fadeG{
    0%{
        background-color: #BDBDBD;
    }
    100%{
        background-color: #BDBDBD;
    }
}
@-o-keyframes f_fadeG{
    0%{
        background-color: #BDBDBD;
    }
    100%{
        background-color: #BDBDBD;
    }
}
@-ms-keyframes f_fadeG{
    0%{
        background-color: #BDBDBD;
    }
    100%{
        background-color: #BDBDBD;
    }
}
@-webkit-keyframes f_fadeG{
    0%{
        background-color: #BDBDBD;
    }
    100%{
        background-color: #BDBDBD;
    }
}
@-moz-keyframes f_fadeG{
    0%{
        background-color: #BDBDBD;
    }
    100%{
        background-color: #BDBDBD;
    }
}